MONGO_URI=mongodb://localhost:27017
MONGO_DB=app
JWT_ACCESS_SECRET=change_me_access
JWT_REFRESH_SECRET=change_me_refresh
ACCESS_TTL_SEC=900
REFRESH_TTL_SEC=2592000
UPLOAD_DIR=./uploads
COOKIE_SECURE=false
# COOKIE_DOMAIN=yourdomain.com

